body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0px auto;

    color: #2b2839;
    background-color: #ddebf8;
    border-bottom: 6px solid #d8cefe;
}

.card div {
    text-align: center;
}

.border-blue {
    border: 1px dotted blue;
}