body {
    margin: 20px;
}

.avatar {
    width: 150px;
}

    /* 
    Challenge:
    Add colors to the card according to the design.
    black - #2b2839 (the text color)
    blue - #ddebf8
    purple - #d8cefe
    */

.card {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0px auto;

    color: #2b2839;
    background-color: #ddebf8;
    border-bottom: 6px solid #d8cefe;
}

.card div {
    text-align: center;
}

.border-blue {
    border: 1px dotted blue;
}